:root {
  --bg: linear-gradient(180deg, #0d1117 0%, #161b22 100%);
  --card-bg: linear-gradient(180deg, #1a1f27 0%, #202833 100%);
  --text: #ffffff;
  --text-muted: #9ba1ae;
  --border-line: rgba(128, 128, 128, 0.278);
  --accent: #ff9f3f;
}

body {
  background: var(--bg) fixed no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  color: white;
}

header {
  display: flex;
  flex-direction: rows;
  padding: 16px;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-line) 0.5px solid;
}

h1 {
  font-size: 52px;
  font-weight: 600;
  color: var(--text);
}

img {
  border-radius: 8px;
}

label {
  font-size: 20px;
  color: var(--text);
}

select {
  position: relative;
  padding: 12px;
  border-radius: 8px;
  margin: 0px 8px;
}

option {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
}

.app-identity {
  display: flex;
  flex-direction: rows;
  margin-left: 0;
  gap: 16px;
}

.app-name {
  margin-top: 20px;
}

.app-logo {
  width: 80px;
  height: 80px;
  margin: 16px 0px 0px 16px;
}

.user-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  gap: 32px;
}

.search-icon,
.profile-pic {
  width: 48px;
}

.filter-area {
  position: relative;
  margin-top: 24px;
  margin-left: 16px;
}

.podcast-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 40px;
}

.cover {
  width: 280px;
  height: 250px;
  border: var(--text-muted) 0.5px solid;
}

.card {
  background: var(--card-bg);
  border: var(--text-muted) 0.2px solid;
  border-radius: 16px;
  padding: 24px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  background: #1a1f27;
  transform: scale(1.01);
}

.seasons-text {
  color: var(--accent);
}
.genre-tags {
  display: flex;
  flex-direction: rows;
  gap: 4px;
  margin-bottom: 16pxs;
}

.tag {
  color: var(--accent);
  background-color: #161b22;
  padding: 10px;
  font-size: 12px;
  border-radius: 12px;
}

.text-muted {
  color: var(--text-muted);
  font-size: 14px;
}

/*
=============================================================
  MODAL STYLING
=============================================================
*/

.overlay {
  position: fixed;
  inset: 0; /* stretch full viewport */
  background: rgba(0, 0, 0, 0.8); /* dim background */
  display: none;
  justify-content: center; /* center modal horizontally */
  align-items: center; /* center modal vertically */
}

.modal {
  background: var(--card-bg);
  width: 55rem;
  height: 40rem;
  padding: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.625rem;
  overflow-y: auto;
}

.modal-close {
  float: right;
  color: #ea5555;
  top: 80%;
}

.modal-image {
  width: 350px;
  height: 300px;
  margin-top: 0;
  border-radius: 8px;
}

.podcast-info {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 32px;
  padding: 16px;
}

.image-grid {
  grid-column: span 3;
  margin-top: 16px;
}

.info-grid {
  grid-column: span 4;
}

.season-row {
  width: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px var(--border-line);
  padding: 32px;
  margin: 8px 0px 8px 0px;
  border-radius: 16px;
}
.episodes-count {
  color: var(--accent);
}

/*
=============================================================
  MOBILE STYLING
=============================================================
*/

@media (min-width: 300px) and (max-width: 739px) {
  h1 {
    font-size: 16px;
    margin-top: 0;
  }

  p {
    font-size: 12px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }

  label {
    font-size: 12px;
  }
  select {
    padding: 4px;
  }

  .app-identity {
    margin-bottom: 8px;
    margin-top: 0;
    gap: 8px;
  }

  .app-logo {
    width: 24px;
    height: 24px;
    margin: 16px 0px 0px 16px;
  }

  .search-icon,
  .profile-pic {
    width: 16px;
  }

  .user-section {
    margin-bottom: 0;
    margin-right: 16px;
  }

  .podcast-grid {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 20px;
  }
  .cover {
    width: 310px;
    height: 200px;
    margin: 4px;
  }
  .card {
    width: 320px;
    background: var(--card-bg);
    padding: 12px;
  }

  .text-muted {
    font-size: 12px;
  }

  .modal {
    background: var(--card-bg);
    width: 300px;
    height: 600px;
    padding: 20px;
  }
  .podcast-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  }

  .modal-image {
    width: 250px;
    height: 250px;
    border-radius: 8px;
  }

  .season-row {
    width: 40vh;
    padding: 20px;
  }
}

/*
=============================================================
  TABLET STYLING
=============================================================
*/

@media (min-width: 740px) and (max-width: 1023px) {
  h1 {
    font-size: 16px;
    margin-top: 0;
  }

  p {
    font-size: 12px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }

  label {
    font-size: 12px;
  }
  select {
    padding: 4px;
  }

  .podcast-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
  }

  .cover {
    width: 310px;
    height: 200px;
    margin: 4px;
  }
  .card {
    width: 320px;
    background: var(--card-bg);
    padding: 14px;
  }

  .text-muted {
    font-size: 12px;
  }

  .modal {
    background: var(--card-bg);
    width: 600px;
    height: 600px;
    padding: 20px;
  }

  .podcast-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  }
  .season-row {
    width: 50vh;
    padding: 24px 6px;
  }
}
